.navbar {
  background-color: rgb(32, 32, 130);
  height: 50px;
  width: 100%;
  display: flex;
}

.app-name {
  padding: 12px 26px;
  margin: 0;
  color: white;
}

.add-user-button {
  margin: 10px 30px 10px auto;
}

.no-user {
  font-size: 200px;
  text-align: center;
}

label {
  margin: 10px 0;
}

.input-box {
  display: flex;
  flex-direction: column;
}

/* .save-button {
  margin: auto;
} */

.user-contaiter {
  height: max-content;
}

.search-container {
  margin: 20px auto 20px 50px;
}

.user-row {
  display: flex;
  border: 2px solid black;
}

.left-side {
  display: grid;
  margin-left: 300px;
}

.left-content-name {
  margin: 10px 0 5px 0;
}

.left-content-address {
  margin: 0 0 10px 0 ;
}

.right-side {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 300px 0 auto;
}

/* br {
  height: 10px;
} */